Repository Arquisoft/viade_en2b, pull requests merged in 2020-04, with the labels that each got.

#123 Develop friends list
  public/images/userPictureUndefined.png
  src/Entities/Friend.js
  src/assets/css/Card.css
  src/caches/friendCache/FriendCache.js
  src/components/generic_components/Card.js
  src/components/generic_components/List.js
  src/components/login/Login.js
  src/components/pages/FriendList.js
  src/components/pages/LoginPage.js
  src/components/pages/MainPage.js
  src/data-access/UserData.js
Labels: Back-end, Front-end, enhancement, visual

#117 Feature look and feel - Dark theme, consistent coloring and about view
  package-lock.json
  public/ViaDe.png
  public/ViaDeCuadrado.svg
  public/favicon.ico
  public/images/developers/fernando.jpg
  public/images/developers/guillermo.png
  public/images/developers/miguel.png
  public/images/login-icon.png
  public/index.html
  src/App.css
  src/App.js
  src/assets/css/About.css
  src/assets/css/BurgerMenu.css
  src/assets/css/Card.css
  src/assets/css/DropzonePage.css
  src/assets/css/FloatingMenu.css
  src/assets/css/FriendList.css
  src/assets/css/GenericButton.css
  src/assets/css/Index.css
  src/assets/css/Login.css
  src/assets/css/MainPage.css
  src/assets/css/Routes.css
  src/assets/css/SearchBar.css
  src/assets/css/ThemeSwitch.css
  src/assets/css/login.css
  src/assets/css/routes.css
  src/caches/ConfigCache.js
  src/caches/ConfigCache.test.js
  src/components/generic_components/BurgerMenu.js
  src/components/generic_components/BurgerMenu.test.js
  src/components/generic_components/Card.js
  src/components/generic_components/SearchBar.js
  src/components/generic_components/ThemeSwitch.js
  src/components/generic_components/ThemeSwitch.test.js
  src/components/generic_components/__snapshots__/ThemeSwitch.test.js.snap
  src/components/map_components/MapContainer.js
  src/components/map_components/MapStyles.js
  src/components/pages/AboutPage.js
  src/components/pages/AboutPage.test.js
  src/components/pages/FriendList.js
  src/components/pages/LoginPage.js
  src/components/pages/MainPage.js
  src/components/pages/RoutesPage.js
  src/components/pages/__snapshots__/AboutPage.test.js.snap
  src/index.css
  src/index.js
Labels: Front-end, enhancement, visual

#191 Develop
  package-lock.json
  package.json
  src/App.js
  src/App.test.js
  src/Entities/Notification.js
  src/FriendGroupManager/CreateFriendGroup.js
  src/FriendGroupManager/FriendGroupManager.js
  src/FriendGroupManager/GetFriendGroup.js
  src/NotificationManager/NotificationManager.js
  src/RouteManager/CreateRoute.js
  src/RouteManager/DeleteUserRoute.js
  src/RouteManager/ListSpecificUserRoutes.js
  src/RouteManager/ListUserRoutes.js
  src/RouteManager/ListUserRoutes.test.js
  src/ShareManager/RetrieveRoute.js
  src/ShareManager/ShareRoute.js
  src/assets/css/CreateFriendGroupPage.css
  src/assets/css/FriendListCache.css
  src/assets/css/commentsContainer.css
  src/caches/friendGroupCache/FriendGroupCache.js
  src/caches/friendGroupCache/FriendGroupCache.test.js
  src/caches/notificationCache/NotificationCache.js
  src/caches/routesSharedCache/RouteSharedCache.js
  src/components/generic_components/BurgerMenu.js
  src/components/generic_components/Card.js
  src/components/generic_components/CustomListButton.js
  src/components/generic_components/InfiniteScrollComment.js
  src/components/generic_components/MyTab.js
  src/components/login/Login.js
  src/components/pages/CreateFriendGroupPage.js
  src/components/pages/CreateFriendGroupPage.test.js
  src/components/pages/FriendGroupsPage.js
  src/components/pages/FriendGroupsPage.test.js
  src/components/pages/ImportGpxPage.test.js
  src/components/pages/SaveRoutePage.test.js
  src/components/pages/SeeFriendsOfGroupPage.js
  src/components/pages/SeeFriendsOfGroupPage.test.js
  src/components/spec_components/RefreshRoute.js
  src/components/spec_components/SaveRoute.test.js
  src/data-access/FileManager/FileLink.js
  src/data-access/FileManager/FileLink.test.js
  src/data-access/FileManager/FolderCreator.js
  src/data-access/UserData.js
  src/jsonTests/Oviedo2.json
  src/jsonTests/Rusia2.json
  src/jsonTests/sharedroutes.json
  src/util/LdflexHelper.js
  src/util/PermissionManager.js
Labels: last empujón

#196 Comments functionality
  package-lock.json
  src/CommentsManager/AddComment.js
  src/CommentsManager/CreateCommentsFile.js
  src/CommentsManager/GetComments.js
  src/Entities/BasicRoute.js
  src/Entities/Comment.js
  src/Entities/Comment.test.js
  src/RouteManager/ListUserRoutes.js
  src/RouteManager/ListUserRoutes.test.js
  src/caches/routeCache/RouteCache.js
  src/data-access/gateways/CommentsGateway.js
  src/data-access/gateways/RouteGateway.js
Labels: Back-end
